

body {
	background: url('../images/rahul.jpg');
	/*background: url('../images/rahul.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
a
#container {
	background: #400000;
	width: 500px;
	height: 90%;
	color: white;
	padding: 20px;
}

h1 {
	font-size: 80px;
	font-family: 'Rampart One', cursive;
}

h2 {
	background: #55f9c6;
	color: black;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	font-family: 'Rampart One', cursive;
}

a  {
	color: #75c1f6;
	text-decoration: none;
}

